#errorLogin{
    color : red;
}

#idForm{
    align-items: center;
    background-image: url('../../assets/images/fondoEstrellas.jpg');
    padding: 8px 90px;
}

#idFound{
    background-image: url('../../assets/images/fondoEstrellas.jpg');
    padding: 250px 40px;
}

#idColRow{
    background-color: rgb(237, 237, 110);
}

ion-input{
    background-color: lightblue;
    color: rgb(57, 56, 56);
}

ion-button{
    align-items:center;
    width: 233px;
    height: 50px;
    padding: 8px 5px;
    color: black;
    font-size: medium;
    font-style:oblique;
}