#errorLogin{
    color : red;
}

#idForm{
    background-color: #6a2e04;
    padding: 118px 40px;
}

#idFound{
    background-color: #e4792c;
    padding: 250px 40px;
}

#idColRow{
    background-color: rgb(237, 237, 110);
}

ion-list{
    background-color: red;

    .ion-item{
        background-color: rgb(128, 0, 124);
    }
}

ion-input{
    background-color: pink;
}

ion-button{
    align-items: center;
    width: 233px;
    height: 200px;
    padding: 8px 5px;
}