#errorLogin{
    color : red;
}

form{
    align-items: center;
    background-image: url('../../assets/images/fondoEstrellas.jpg');
    padding: 8px 90px;
}

#idFound{
    background-image: url('../../assets/images/fondoEstrellas.jpg');
    padding: 250px 40px;
}

#idColRow{
    background-color: rgb(237, 237, 110);
}

ion-label{
    background-color: greenyellow;
    
}

ion-input{
    background-color: lightblue;
    color: rgb(57, 56, 56);
    width: 180px;
}

ion-button{
    align-items:center;
    width: 210px;
    height: 70px;
    color: black;
    font-size: medium;
    font-style:oblique;
}