
<ion-content>

  <div id="idFound">
    <!-- <div *ngIf="spinner">
      spinnerr
    </div> -->
    <div *ngIf="error">
      {{error}}
    </div>
  
    <form *ngIf="!spinner" #loginForm="ngForm" novalidate>
  
          <ion-label>Correo</ion-label>
          <ion-input [(ngModel)]="login.email" name="email" type="text" #mail="ngModel" spellcheck="false"
              autocapitalize="off" expand="block" required> <!--Que reciba un formulario, crear en el ts un form control con los dos controles, hacer la validacion desde el ts-->
          </ion-input> <!--Aplicarles estilos a todos los inputs, botones de acceso rapido que no sean textos sino botones -->
          <ion-text color="danger">
            <p [hidden]="mail.valid || submitted === false" class="ion-padding-start">
              Por favor, ingrese su Correo Electrónico.
            </p>
          </ion-text>
    
          <br>
          <ion-label>Contraseña</ion-label>
          <ion-input [(ngModel)]="pass" name="password" type="password" #password="ngModel" minlength=6 expand="block" required>
          </ion-input>
          
          <ion-text color="danger">
            <p [hidden]="!password.errors || submitted === false" class="ion-padding-start">
              La contraseña ingresada es muy corta.
            </p>
          </ion-text>
          <ion-text color="danger">
            <p [hidden]="!password.errors || submitted === false" class="ion-padding-start">
              Por favor, ingrese una contraseña.
            </p>
          </ion-text>
    
        <ion-row>
            <ion-button (click)="onLogin(loginForm)" type="submit" expand="block">Ingresar</ion-button>
            <ion-button (click)="admin()" expand="block">Admin
            </ion-button>
            <ion-button (click)="invitado()" expand="block">Invitado
            </ion-button>
            <ion-button (click)="usuario()" expand="block">Usuario
            </ion-button>
            <ion-button (click)="anonimo()" expand="block">Anonimo
            </ion-button>
            <ion-button (click)="tester()" expand="block">Tester
            </ion-button>
        </ion-row>

    </form>
  </div>

  
</ion-content>


<!-- 
  1- Una vez que el nene entra con susu credenciales, mostrar pantalla con el menu:
    a) Botones de idiomas con banderas. Para que el nene pueda elegir el idioma.
    b) Botones donde el nene elige el tema: Animales, Colores o Números
 -->
