#idContent{
    --background: #e4792c;
}

#idHeader{
    background-color: rgb(237, 237, 110);
    padding: 40px 20px;
}

#idSalir{
    background-color:red;
    padding: 800px;
}

#idCaballo{
    background-image: url(../../assets/Caballo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #ade25d;
    background-position: center;
}

#divCaballo{
    background-color: orangered;
}

#divCerdo{
    background-color: orangered;
}

#idCerdo{
    background-image: url(../../assets/Cerdo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #ade25d;
    background-position: center;
}

#divPerro{
    background-color: orangered;
}

#idPerro{
    background-image: url(../../assets/Perro.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #ade25d;
    background-position: center;
}

#divGato{
    background-color: orangered;
}

#idGato{
    background-image: url(../../assets/Gato.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #ade25d;
    background-position: center;
}

#divPajaro{
    background-color: orangered;
}

#idPajaro{
    background-image: url(../../assets/Pajaro.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #ade25d;
    background-position: center;
}

#divGallo{
    background-color: orangered;
}

#idGallo{
    background-image: url(../../assets/Gallo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #ade25d;
    background-position: center;
}

#idOne{
    background-image: url(../../assets/numbers/Numero-1.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #ade25d;
    background-position: center;
}

#idTwo{
    background-image: url(../../assets/numbers/Numero-2.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #ade25d;
    background-position: center;
}

#idThree{
    background-image: url(../../assets/numbers/Numero-3.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #ade25d;
    background-position: center;
}

#idFour{
    background-image: url(../../assets/numbers/Numero-4.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #ade25d;
    background-position: center;
}

#idFive{
    background-image: url(../../assets/numbers/Numero-5.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #ade25d;
    background-position: center;
}

#idSix{
    background-image: url(../../assets/numbers/Numero-6.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #ade25d;
    background-position: center;
}

#idOrange{
    background-size: contain;
    background-repeat: no-repeat;
    background-color: rgb(125, 38, 207);
    background-position: center;
}

#idBlue{
    background-size: contain;
    background-repeat: no-repeat;
    background-color: rgb(12, 193, 243);
    background-position: center;
}

#idPink{
    background-size: contain;
    background-repeat: no-repeat;
    background-color: rgb(106, 16, 31);
    background-position: center;
}

#idYellow{
    background-size: contain;
    background-repeat: no-repeat;
    background-color: rgb(247, 247, 23);
    background-position: center;
}

#idRed{
    background-size: contain;
    background-repeat: no-repeat;
    background-color: rgb(184, 6, 6);
    background-position: center;
}

#idGreen{
    background-size: contain;
    background-repeat: no-repeat;
    background-color: rgb(10, 210, 10);
    background-position: center;
}

#temaSeleccionado{
    background-color: rgb(3, 81, 81);
}

ng-container{
    background-color: aqua;
}
