.container-img {
  width: 100%;
  height: 100%;
  background-image: url('../../assets/images/fondoEstrellas.jpg');
  background-size: cover;
  background-position: center;
}

.fab-image {
  width: 80%;
  height: 80%;
  object-fit: contain;
}

.ion-float-right {
  float: right;
}

.botones-container {
  height: 100%;
}
  
ion-row {
  height: 20%;
}
  
ion-button {
  height: 100%;
  --background: transparent;
}
ion-img{
  width: 130px;
  height: 130px;
}
.botones-container{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.botones-horizontal {
  padding-right: 3rem;
  padding-left: 3rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 3rem;
  padding-bottom: 2rem;
} 
ion-row {
  width: 100%;
}

ion-col {
  display: flex;
  justify-content: center;
  align-items: center;
}
  
.boton-imagen {

  max-width: 80%;
  max-height: 80%;
}

.large-icon {
  width: 48px;
  height: 48px;
}
ion-fab-button{
  --background: transparent;
  width: 70px;
  height: 70px;
}