<ion-header [translucent]="true">
  <div id="idInicio">
    <ion-toolbar>
      <ion-title>
        Inicio
      </ion-title>
    </ion-toolbar>
  </div>
</ion-header>
<ion-content [fullscreen]="true">
  <div id="container">
    <ion-row id="idRow">
      <ion-col text-center id="idButtonLogin">
        <ion-button href="/login" expand="block">Logueate</ion-button>
      </ion-col>
      <ion-col text-center id="idButtonRegister">
        <ion-button href="/register" expand="block">Registrate</ion-button>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
