<ion-content [fullscreen]="true">
  <div class="container-img">
    <ion-fab slot="fixed" vertical="top" horizontal="end">
      <ion-fab-button (click)="logout()" class="ion-float-right">
        <ion-img src="../../assets/icon/salida.png" class="fab-image"></ion-img>
      </ion-fab-button>
    </ion-fab>
    <ion-fab slot="fixed" vertical="top" horizontal="start">
      <ion-fab-button>
        <ion-img [src]="imgPais"  class="fab-image"></ion-img>
      </ion-fab-button>
      <ion-fab-list side="end" style="background-color: transparent;">
        <ion-fab-button>
          <ion-img (click)="seleccionarIdioma('españa')" src="../../assets/pais/español.png" class="fab-image"></ion-img>
        </ion-fab-button>
        <ion-fab-button>
          <ion-img (click)="seleccionarIdioma('portugal')" src="../../assets/pais/portugues.png" class="fab-image"></ion-img>
        </ion-fab-button>
        <ion-fab-button>
          <ion-img (click)="seleccionarIdioma('reinoUnido')" src="../../assets/pais/ingles.png" class="fab-image"></ion-img>
        </ion-fab-button>
      </ion-fab-list>
    </ion-fab>
    
    <ion-grid class="botones-container ion-hide-md-up">
      <ion-row>
        <ion-col size="6" size-md="4">
          <ion-button expand="full" (click)="traducir(0)">
            <ion-img src="{{imgApp[0]}}" class="boton-imagen"></ion-img>
          </ion-button>
        </ion-col>
        <ion-col size="6" size-md="4">
          <ion-button expand="full" (click)="traducir(1)">
            <ion-img src="{{imgApp[1]}}" class="boton-imagen"></ion-img>
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col size="6" size-md="4" class="ion-text-center">
          <ion-button expand="full" (click)="traducir(2)">
            <ion-img src="{{imgApp[2]}}" class="boton-imagen"></ion-img>
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6" >
          <ion-button expand="full" (click)="traducir(3)">
            <ion-img src="{{imgApp[3]}}" class="boton-imagen"></ion-img>
          </ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button expand="full" (click)="traducir(4)">
            <ion-img src="{{imgApp[4]}}" class="boton-imagen"></ion-img>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid class="botones-horizontal ion-hide-sm-down">
      <ion-row>
        <ion-col size="4">
          <ion-button expand="full" (click)="traducir(0)">
            <ion-img src="{{imgApp[0]}}" class="boton-imagen"></ion-img>
          </ion-button>
        </ion-col>
        <ion-col size="4">
          <ion-button expand="full" (click)="traducir(1)">
            <ion-img src="{{imgApp[1]}}" class="boton-imagen"></ion-img>
          </ion-button>
        </ion-col>
        <ion-col size="4">
          <ion-button expand="full" (click)="traducir(2)">
            <ion-img src="{{imgApp[2]}}" class="boton-imagen"></ion-img>
          </ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button expand="full" (click)="traducir(3)">
            <ion-img src="{{imgApp[3]}}" class="boton-imagen"></ion-img>
          </ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button expand="full" (click)="traducir(4)">
            <ion-img src="{{imgApp[4]}}" class="boton-imagen"></ion-img>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
    
    <ion-fab slot="fixed" vertical="bottom" horizontal="end">
      <ion-fab-button>
        <ion-img [src]="imgTema" class="fab-image"></ion-img>
      </ion-fab-button>
      <ion-fab-list side="top">
        <ion-fab-button>
          <ion-img (click)="seleccionarTipo('numero')" src="../../assets/numbers/Numero-1.png" class="fab-image"></ion-img>
        </ion-fab-button>
        <ion-fab-button>
          <ion-img (click)="seleccionarTipo('color')" src="../../assets/icon/color2.png" class="fab-image"></ion-img>
        </ion-fab-button>
        <ion-fab-button>
          <ion-img (click)="seleccionarTipo('animal')" src="../../assets/Leon.png" class="fab-image"></ion-img>
        </ion-fab-button>
      </ion-fab-list>
    </ion-fab>
  </div>
</ion-content>
